<nav>
  <div class="">
    <a href="#" class="logo">Logo</a>
    <ul id="nav" class="">
      <li><a href="sass.html">Dummy</a></li>
      <li>
        <a (click)="clicRegistro()">
          Registro
        </a>
      </li>
      <li>
        <a [routerLink]="['/pages', {outlets: {estadistica: ['estadisticacomp'], alerta: ['alertacomp']}}]">
          ESTADISTICA
        </a>
      </li>
      <li>
        <a [routerLink]="['/pages', {outlets: {alerta: ['alertacomp']}}]">
          alerta
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet name="registro"></router-outlet>



