<nav>
  <div class="">
    <a href="#" class="logo">Logo</a>
    <ul id="nav" class="">
      <li [routerLinkActive]="['active']"
          [routerLink]="'usuarios'">
        <a>
          Usuarios
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="'registro'">
        <a>
          Registro
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="'estadistica'">
        <a>
          ESTADISTICA
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="'alerta'">
        <a>
          alerta
        </a>
      </li>
    </ul>
  </div>
</nav>
