<nav>
  <div class="">
    <a href="#" class="logo">Logo</a>
    <ul id="nav" class="">
      <li [routerLinkActive]="['active']"
          (click)="links(1)">
        <a>
          Usuarios
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          (click)="links(2)">
        <a>
          Registro
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          (click)="links(3)">
        <a>
          ESTADISTICA
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          (click)="links(4)">
        <a>
          alerta
        </a>
      </li>
    </ul>
  </div>
</nav>
