<nav>
  <div class="">
    <a href="#" class="logo">Logo</a>
    <ul id="nav" class="">
      <li>
        <a href="sass.html">Dummy</a></li>
      <li [routerLinkActive]="['active']"
          [routerLink]="['Registro']">
        <a>
          Registro
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="['Estadistica']">
        <a>
          ESTADISTICA
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="['Alerta']">
        <a>
          alerta
        </a>
      </li>
    </ul>
  </div>
</nav>
