nav{
  background: #48466d;
}
nav div .logo{
  color: #abedd8;
  font-size: 30px;
  font-weight: bold;
}
nav div ul li{
  display: inline-block;
}

nav div ul li a{
  text-decoration: none;
  color: #abedd8;
}
